In [1]:
### 다중회귀분석 예시1
from sklearn import linear_model
import numpy as np
import pandas as pd

data = {'x1':[13,18,17,20,22,21],
       'x2':[9,7,17,11,6,10],
       'y':[20,22,30,27,35,32]}
data = pd.DataFrame(data)
X = data[['x1','x2']]
y = data['y']

data

   x1  x2   y
0  13   9  20
1  18   7  22
2  17  17  30
3  20  11  27
4  22   6  35
5  21  10  32

In [2]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(X),y=y)
prediction = linear_regression.predict(X=pd.DataFrame(X))

print('Bintercept_: ',linear_regression.intercept_)  # y절편
print('acoef_: ',linear_regression.coef_)           # 기울기

Bintercept_:  -6.381364829396315
acoef_:  [1.58215223 0.47782152]

In [3]:
residuals = y - prediction
residuals.describe()

count    6.000000e+00
mean     1.776357e-15
std      2.906943e+00
min     -3.517717e+00
25%     -2.487106e+00
50%      8.698819e-01
75%      1.475197e+00
max      3.707087e+00
Name: y, dtype: float64

In [4]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)

print('R_squared: ',R_squared)

R_squared:  0.7504828259656519

In [5]:
from sklearn.metrics import mean_squared_error
from math import sqrt

mse = mean_squared_error(y,prediction)
rmse = sqrt(mse)

print('score = ',linear_regression.score(X=pd.DataFrame(X),y=y))
print('mean_squared_error = ',mse)
print('RMSE = ',rmse)

score =  0.7504828259656519
mean_squared_error =  7.041929133858269
RMSE =  2.6536633422230236

In [6]:
### 다중회귀분석 예시2 (Boston데이터 이용)
from sklearn import datasets
boston_house_prices = datasets.load_boston()

# 로드한 boston 전체 데이터의 key값 출력
print(boston_house_prices.keys())
# boston 전체 데이터 중 data에 대한 전체 행, 열 길이 출력
print(boston_house_prices.data.shape)
# boston 데이터의 컬럼명 출력
print(boston_house_prices.feature_names)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [7]:
X = pd.DataFrame(boston_house_prices.data)
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
X.columns = boston_house_prices.feature_names
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
X['Price'] = boston_house_prices.target

y = X.pop('Price')

print(y)
X.head()

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(X),y=y)
prediction = linear_regression.predict(X=pd.DataFrame(X))

print('Bintercept_: ',linear_regression.intercept_)  # y절편
print('acoef_: ',linear_regression.coef_)           # 기울기

Bintercept_:  36.459488385089855
acoef_:  [-1.08011358e-01  4.64204584e-02  2.05586264e-02  2.68673382e+00
 -1.77666112e+01  3.80986521e+00  6.92224640e-04 -1.47556685e+00
  3.06049479e-01 -1.23345939e-02 -9.52747232e-01  9.31168327e-03
 -5.24758378e-01]

In [11]:
residuals = y - prediction
residuals.describe()

count    5.060000e+02
mean     2.924319e-15
std      4.683822e+00
min     -1.559447e+01
25%     -2.729716e+00
50%     -5.180489e-01
75%      1.777051e+00
max      2.619927e+01
Name: Price, dtype: float64

In [12]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)

print('R_squared: ',R_squared)

R_squared:  0.7406426641094094

In [13]:
mse = mean_squared_error(y,prediction)
rmse = sqrt(mse)

print('score = ',linear_regression.score(X=pd.DataFrame(X),y=y))
print('mean_squared_error = ',mse)
print('RMSE = ',rmse)

score =  0.7406426641094095
mean_squared_error =  21.894831181729202
RMSE =  4.679191295697281

In [14]:
## LSTAT, RM을 X1,X2로 놓고 회귀식을 세워보자
X = pd.DataFrame(np.c_[X['LSTAT'], X['RM']], columns = ['LSTAT','RM']) 
#두 개의 1차원 배열을 컬럼으로 세로로 붙여서 2차원 배열 만들기 >> np.c_[a,b] == np.column_stack([a,b]) == np.concatenate((c.T,d.T),axis=1)
Y = y

from IPython.display import display
display(X);display(Y)

     LSTAT     RM
0     4.98  6.575
1     9.14  6.421
2     4.03  7.185
3     2.94  6.998
4     5.33  7.147
..     ...    ...
501   9.67  6.593
502   9.08  6.120
503   5.64  6.976
504   6.48  6.794
505   7.88  6.030

[506 rows x 2 columns]

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.4, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(303, 2)
(203, 2)
(303,)
(203,)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score   # r-squared값 구하는 함수 

reg_1 = LinearRegression()
reg_1.fit(X_train, Y_train)

# model evaluation for training set
y_train_predict = reg_1.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))
r2 = r2_score(Y_train, y_train_predict)

print("The model performance for training set")
print("---------------------------------------")
print("RMSE is {}".format(rmse))
print("R2 score is {}".format(r2))

The model performance for training set
---------------------------------------
RMSE is 5.262277894319472
R2 score is 0.6539897471220519

In [18]:
# model evaluation for testing set
y_test_predict = reg_1.predict(X_test)
rmse = (np.sqrt(mean_squared_error(Y_test, y_test_predict)))
r2 = r2_score(Y_test, y_test_predict)

print("The model performance for training set")
print("---------------------------------------")
print("RMSE is {}".format(rmse))
print("R2 score is {}".format(r2))

The model performance for training set
---------------------------------------
RMSE is 5.902561668688908
R2 score is 0.6142268172329723

In [ ]:
# RMSE는 작을수록 설명력 높다.
# R-squared는 클수록(1에 가까울수록) 설명력 높다.